
h2{
color: blue;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.storeInfo{
  background-color: rgba(1,1,1,0.4);
  transform: 0.5;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
left: 80px;
border-radius: 40px;
position: absolute;
top: 50px;

margin:20px;
padding-top: 10px;
}
#storeinfo{
  height: 350px;
  left: 350px;
}
#storempAdd{
  left: 850px;
}
#btnclassforStore{
  width: 600px;
  left: 300px;
}
#linkers{
width: 180px;
  display: flex;
  flex-direction: column;
  margin: 20px;
 left: 30px;
 top: 200px;
}