.empInfo{
    background-color: rgba(1,1,1,0.4);
    transform: 0.5;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
  left: 150px;
 border-radius: 40px;
  position: absolute;
  top: 50px;
  height: 450px;
  margin:20px;
  padding-top: 10px;
  
}

.empAdd{
    background-color: rgba(1,1,1,0.4);
    padding-top: 10px;
    border-radius: 40px;
   
    width: 350px;
    top: 80px;
    display: flex;
    flex-direction: column;
    left: 650px;
  align-items: center;
  position: absolute;
  height: 450px;
}
.japp{
    border-radius: 40px;
    align-items: center;
    background-color: rgba(1,1,1,0.4);
    width: 350px;
    display: flex;
    flex-direction: column;
    left: 1000px;
    top: 80px;
  padding-top: 30px;
  position: absolute;
  height: 400px;
}
.btnclass{
    position: absolute;
  
   
    height: 60px;
    width: 400px;
top: 570px;
left: 300px;
}
.input{
width: 200px;
border-radius: 10px;
height: 30px;

background-color: rgba(1,1,1,0.2);
}
.save{
padding: 15px 40px;
border-bottom-color: red;
border-top-color: green;
background-color: rgba(1,1,1,0.2);
color: white;
border-radius: 40px;
font-size: large; 
}
.save:hover{
color: black;
background-color: white;
}
.fieldone{
top: 0px;
width: 1300px;
height: 600px;
border: solid black;

background-size: cover;
background-position: center;
background-attachment: fixed;

}
body{
background-color: rgba(1,1,1,0.2);
background-image: url("images/damsir.avif");
}
.label{
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
}
h3{
color: black;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.job{
background-color: rgba(1,1,1,0.2);
color: white;
width: 200px;
border-radius: 10px;
height: 30px;
}
h2{
color: blue;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.storeInfo{
  background-color: rgba(1,1,1,0.4);
  transform: 0.5;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
left: 80px;
border-radius: 40px;
position: absolute;
top: 50px;

margin:20px;
padding-top: 10px;
}
#storeinfo{
  height: 350px;
  left: 350px;
}
#storempAdd{
  left: 850px;
}
#btnclassforStore{
  width: 600px;
  left: 300px;
}
#linkers{
width: 180px;
  display: flex;
  flex-direction: column;
  margin: 20px;
 left: 30px;
 top: 200px;
}