*{
    margin: 0px;
    padding: 0%;
}
  .menudiv{
    background-color:#234E70;
    height: 60px;
 display:inline-flexbox;
position: sticky;
position: fixed;
width: 1700px;
   
}
body{
    background-color: #DF678C;  
}
ul{
    display: inline-flex;
    list-style: none;
    color: white;
    gap: 30px;
    padding-left: 980px;
}
.div1{

    background-color: rgb(124, 145, 124);
width: 400px;
height: 500px;
margin: 50px;
padding: 30px


}
.div2{
    height: 500px;
    background-color:greenyellow;
}
img{
float: left;
width: 400px;
height: 360px;
border-radius: 20px;
}
dl{

}
h2{
font-size: 30px;
color: #FBF8BE;
}
dt{
font-size: 50px;
font-weight: bolder;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: brown;
}
dd{
font-size: 20px;
font-weight: normal;
font-family: 'Times New Roman', Times, serif;
font-stretch: condensed;
color:  #CCF381;

}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    color: #000;
    background-color: thistle;
    cursor: pointer;
}
.forAboutus{
    width: 500px;
    height: 300px;
border: solid 2px seagreen;
border-radius: 10px;
background-color: aquamarine;
color: black;
margin: 40px;
padding: 30px;

}