.empInfo22 {   
    background-color: rgba(1, 1, 1, 0.4);
    transform: 0.5;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 100px;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    height: 430px;
    margin: 20px;
    padding-top: 10px;

}

.empInfo22:hover {
    background-color: rgba(1, 1, 1, 0.6);
}

.empAdd22 {
    background-color: rgba(1, 1, 1, 0.4);
    /* padding: 30px; */
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;

    width: 300px;
    top: 80px;
    /* display: flex;
    flex-direction: column; */
    left: 550px;
    align-items: center;
    position: absolute;
    height: 400px;
}

.empAdd22:hover {
    background-color: rgba(1, 1, 1, 0.6);
}



.btnclass22 {
    position: absolute;

    height: 60px;
    width: 600px;
    top: 550px;
    left: 300px;
}

.input {
    width: 270px;
    border-radius: 2px;
    height: 30px;
    margin-top: 10px;
    /* background-color: rgba(1, 1, 1, 0.2); */
}

.input:hover {
    background-color: white;
}

.save22 {
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    border-bottom-color: red;
    border-top-color: green;
    background-color: rgba(1, 1, 1, 0.2);
    color: #FFF748;
    border-radius: 10px;
    font-size: large;
}

.save22:hover {
    color: black;
    background-color: white;
}


.body22 {


    background-image: url("images/doctors.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.label {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF748;

    left: -30px;
}


* {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgba(1, 1, 1, 0.5);
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
    padding-left: 20px;


}

.header:hover {
    background-color: rgba(1, 1, 1, 1);
}

.linkers {
    position: relative;
    display: flex;
    flex-direction: row;
    color: aquamarine;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    left: 65%;
    margin: 20px;
    text-decoration: none;
}

.linkers:hover {
    text-decoration: wavy;
    color: black;
    background-color: aquamarine;
    border-radius: 5px;
}

h3 {
    color: aquamarine;
    position: relative;
    left: 370px;
    font-size: 30px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.staf {
    display: flex;
    flex-direction: column;
}

.sex {
    position: relative;
    display: flex;
    flex-direction:row;
    margin: 20px;

}

.error {
    color: red;
}

.rad {
    margin: 10px;
}
.both22{
    height: 650px;
    width: 1100px;
    background-color: rgba(1, 1, 1, 0.2);
    position: absolute;
    left: 150px;
}